.layout {
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 229, 240, 1) 35%,
    rgba(253, 202, 225, 1) 100%
  );
}

.contentNavBarContainer {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  z-index: 5;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 80px);
  top: 80px;
}

@media only screen and (min-width: 768px) {
  .contentNavBarContainer {
    display: flex;
  }
}
