.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register {
  width: 100%;
  text-align: center;
}

.register h3 {
  text-align: start;
  margin-bottom: 15px;
}

.log {
width: 100%;
text-align: center;
margin-top: 15px;
}

.log h3 {
  text-align: start;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

form input {
  width: 100%;
  height: 35px;
  margin-top: 15px;
  padding: 5px;
  font-size: 16px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  margin-top: 10px;
}

.buttons input {
  background: none;
  border: none;
  color: blue;
  text-align: end;
  font-size: 18px;
}

.containerLogged {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.containerLogged button {
  align-self: end;
}