.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register {
  width: 100%;
  text-align: center;
}

.register h3 {
  text-align: start;
  margin-bottom: 15px;
}

.log {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.log h3 {
  text-align: start;
  margin-bottom: 15px;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.loginContainer form input {
  width: 100%;
  height: 35px;
  margin-top: 15px;
  padding: 5px;
  font-size: 16px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  margin-top: 10px;
}

.buttons input {
  background: none;
  border: none;
  color: blue;
  text-align: end;
  font-size: 18px;
}

.containerLogged {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.containerLogged h2 {
  margin: 0 auto 15px auto;
}

.logOutContainer {
  display: flex;
  height: 100%;
  align-items: flex-end;
  align-self: flex-end;
}

.logOutContainer button {
  padding: 3px 10px;
  border: none;
  border-radius: 3px;
}
