.sliderContainer {
  width: 100%;
  height: 65%;
  margin: 15px 0;
  display: flex;
  align-items: center;
  z-index: 11;
}

.sliderShow {
  margin: auto;
  width: 100%;
  height: 100%;
  min-height: 210px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 250px;
  object-fit: cover;
  z-index: 1;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10px;
  font-size: 35px;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  font-size: 35px;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.leftArrowNone,
.rightArrowNone,
.preLoader {
  display: none;
}

.countPictures {
  color: black;
  background-color: rgb(199, 199, 199);
  z-index: 3;
  font-size: 1.4rem;
  align-self: flex-end;
}

@media only screen and (min-width: 768px) {
  .sliderContainer {
    width: 100%;
    height: 400px;
  }

  .sliderShow {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
}
