.salonSection {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  text-align: start;
  margin: 0 auto 25px auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.568);
  padding: 15px;
}

h3 {
  font-size: 1.5rem;
}

.img {
  width: 100%;
  max-width: 400px;
  height: 175px;
  object-fit: cover;
  margin: 5px 0;
}

.rateAndInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.commentContainer {
  margin: 10px 0;
}

.topComment {
  margin-top: 5px;
  font-weight: bold;
  color: #74075a;
}

.contractButtonContainer {
  width: 100%;
  text-align: center;
}

.contractButton {
  width: 75%;
  border-radius: 5px;
  background-color: rgb(68, 136, 91);
  margin: 5px 0;
  color: white;
  border: none;
  height: 35px;
  font-size: 1rem;
  cursor: pointer;
}

.commentsContainer {
  width: 100%;
  padding: 30px;
  padding-top: 10px;
}

.reviewPageLink {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  margin-top: 15px;
}

.reviewPageLink a {
  font-size: 1.1rem;
  color: rgb(11, 11, 202);
}

.singleCommentContainer {
  margin-top: 15px;
  padding: 10px 10px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.568);
}

.commentOwner {
  color: #920f73;
  font-weight: bolder;
}

.commentContent {
  font-weight: bold;
  margin: 5px 0;
}

.info {
  margin-bottom: 8px;
}

.moreInfoButton {
  cursor: pointer;
  color: blue;
}

.sectionModal {
  text-align: start;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .salonSection {
    margin: 40px;
    margin-top: 10px;
  }
  .sectionModal {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .sectionModal {
    margin: auto;
  }
}
