.salonSection {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  text-align: start;
  margin: 0 auto 25px auto;
}

h3 {
  font-size: 1.5rem;
}

.img {
  width: 100%;
  max-width: 400px;
  height: 175px;
  object-fit: cover;
  margin: 5px 0;
}

.rateAndInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.commentContainer {
  width: 75%;
  margin-top: 7px;
  margin-bottom: 7px;
}

.info {
  margin-bottom: 8px;
}

.moreInfoButton {
  cursor: pointer;
  color: blue;
  border-bottom: 1px solid white;
}

.moreInfoButton:hover {
  border-bottom: 1px solid blue;
}

.sectionModal {
  text-align: start;
}

@media only screen and (min-width: 768px) {
  .salonSection {
    margin: 40px;
    margin-top: 10px;
  }
  .sectionModal {
    width: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .sectionModal {
    margin: auto;
  }
}
