.fullImageContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 140px);
  width: 100%;
  top: 80px;
  left: 0;
  overflow: hidden;
  z-index: 1000;
  background-color: #000000e7;
  overflow: hidden;
  padding: 10px;
}

.fullImageButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  z-index: 1500;
}

.fullImageContainer img {
  width: 95%;
  bottom: 60px;
  max-height: calc(70vh);
  z-index: 100;
  object-fit: contain;
}

.fullImageContainer button {
  width: 30%;
  min-width: 100px;
  background-color: rgb(180, 0, 0);
  margin: 15px 30px 0 30px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .fullImageContainer {
    width: 80%;
    margin-left: 20%;
  }

  .fullImageButton {
    width: 90%;
    max-width: 1000px;
  }
}

@media only screen and (min-width: 1200px) {
  .fullImageContainer {
    width: 85%;
    margin-left: 15%;
  }
}
