.postSalonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  width: 100%;
}

.postSalonContainer form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.postSalonContainer input {
  width: 100%;
  height: 30px;
  margin: 7px 0;
  font-size: 0.8rem;
  padding: 5px;
}

.uploadPhoto {
  width: 100%;
  font-size: 0.8rem;
}
.submit {
  width: 90%;
}
.postSalonContainer form h4 {
  width: 100%;
  text-align: center;
}

textarea {
  width: 90%;
  height: 100px;
  resize: none;
  padding: 5px;
}

.error {
  font-size: 12px;
  color: #ff0000;
}

.postInputContainer {
  width: 90%;
  max-width: 600px;
}

.postInputContainerFile {
  width: 90%;
}

.postImage {
  width: 100%;
  max-width: 600px;
  max-height: 300px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .postSalonContainer h2 {
    font-size: 2rem;
  }
  .postSalonContainer h4 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .postSalonContainer {
    width: 80%;
    height: 100vh;
    margin-left: 20%;
  }
  .postSalonContainer form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .postInputContainer {
    width: 48%;
    margin: 7px 0;
  }

  .postInputContainerFile {
    width: 100%;
  }
  .submit {
    width: 100%;
    text-align: center;
  }
  textarea {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .postSalonContainer {
    width: 85%;
    margin-left: 15%;
  }
}
