.containerSalon {
  display: flex;
  flex-basis: calc(100vh - 140px);
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.containerSalon h2 {
  font-size: 1.6rem;
  margin: 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .containerSalon {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .containerSalon h2 {
    font-size: 2.2rem;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
}
