.containerSalon {
  display: flex;
  flex-basis: calc(100vh - 140px);
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.containerSalon h2 {
  font-size: 1.6rem;
  margin: 4%;
  text-align: center;
}