.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    align-items: center;
    width: 80%;
}

form input {
    width: 90%;
}

